@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;

  src:  local("Open Sans"),
        url("fonts/opensans.woff2") format("woff2"),
        url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;

  src:  local("Open Sans Light"),
        url("fonts/opensanslight.woff2") format("woff2"),
        url("fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;

  src:  local("Gilroy-Light"),
        url("fonts/gilroylight.woff2") format("woff2"),
        url("fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;

  src:  local("Gilroy-ExtraBold"),
        url("fonts/gilroyextrabold.woff2") format("woff2"),
        url("fonts/gilroyextrabold.woff") format("woff");
}



.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header ul {
  padding-left: 0;
}

.main-logo-link {
  display: block;
  width: 164px;
  height: 36px;
  margin-bottom: 9px;
}

.main-header {
  min-width: 1200px;
}

.main-header .container {
  box-sizing: border-box;
  width: 1160px;
  margin: 22px auto 0;
  padding: 0 60px 48px;

  background-image: -webkit-linear-gradient(#ffffff 18px, rgba(240, 197, 46, 0.5) 18px);
  background-image:      -o-linear-gradient(#ffffff 18px, rgba(240, 197, 46, 0.5) 18px);
  background-image:         linear-gradient(#ffffff 18px, rgba(240, 197, 46, 0.5) 18px);
}

.main-header a {
  color: #000000;
}

.main-header li {
  list-style: none;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.search-form {
  position: relative;

  min-width: 440px;
  margin-top: 5px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 4px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.search-input {
  width: 356px;
  min-height: 52px;
  padding: 10px 39px 10px;

  line-height: 30px;
  letter-spacing: -0.2px;

  background-color: transparent;
  border: none;
}

.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.button-search {
  width: 85px;
  padding: 15px 0;

  font-weight: 300;
  line-height: 15px;

  border: 2px solid #000000;
  outline: none;
  opacity: 0;
}

.search-container:active .search-input,
.search-container:focus .search-input,
.search-input:active,
.search-input:focus {
  padding: 10px 19px 8px 39px;

  border-bottom: 2px solid #000000;
  outline: none;
}

.search-container:active .button-search,
.search-input:active + .button-search,
.search-input:focus + .button-search,
.button-search:focus {
  color: #000000;

  background-color: transparent;
  opacity: 1;
}

.search-input:focus ~ .button-search:hover,
.search-input:focus ~ .button-search:focus {
  color: #ffffff;

  background-color: #000000;
  outline: none;
  opacity: 1;
}

.search-container:active .button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  outline: none;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  outline: none;
}

.user-container {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}

.header-login li:last-child {
  padding-left: 20px;

  opacity: 0.3;
}

.header-login,
.header-buy {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.login-icon {
  position: relative;

  display: block;
  padding-left: 26px;
}

.login-icon::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
}

.is-login,
.not-login {
  letter-spacing: 0.2px;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(0, 0, 0, 0.6);

  outline: none;
}

.nav-link:hover::before,
.nav-link:focus::before {
  opacity: 0.8;
}

.nav-link:active {
  opacity: 0.3;
}

.nav-link-compare,
.nav-link-cart {
  position: relative;

  padding-left: 30px;
}

.nav-link-cart {
  margin-left: 35px;
}

.nav-link-cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;

  width: 12px;
  height: 12px;

  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
}

.nav-link-compare::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;

  width: 10px;
  height: 10px;

  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
}

/*       Can change      */

.is-login {
  display: none;
}

/*       End can change      */

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.header-menu > li:first-child {
  min-width: 250px;
}

.header-menu > li:nth-child(2) {
  min-width: 159px;
}

.header-menu > li:nth-child(3) {
  min-width: 221px;
}

.header-menu > li:last-child {
  width: 120px;
}

.header-menu a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog-navigation {
  z-index: 20;

  display: none;
}

.header-catalog {
  position: relative;

  margin-right: auto;
}

.catalog-link {
  padding-right: 30px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 3px;

  width: 16px;
  height: 16px;

  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-catalog:hover .catalog-navigation,
.header-catalog:focus .catalog-navigation {
  position: absolute;
  left: -60px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 660px;
  padding-top: 19px;
  padding-right: 440px;
  padding-bottom: 32px;
  padding-left: 60px;

  background-color: #f7e296;
}

.catalog-navigation li {
  min-width: 160px;
  padding-right: 40px;
}

.catalog-navigation li:nth-child(3n-2) {
  min-width: 200px;
  padding-right: 40px;
}

.catalog-navigation li:last-child {
  min-width: 100%;
}

.catalog-navigation a {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.2px;
}



/*  main block  */

.slider-container {
  min-width: 1200px;
}

.slider {
  position: relative;

  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding-right: 50px;

  background-image: -webkit-linear-gradient(rgba(240, 197, 46, 0.5) 111px, #ffffff 111px);
  background-image:      -o-linear-gradient(rgba(240, 197, 46, 0.5) 111px, #ffffff 111px);
  background-image:         linear-gradient(rgba(240, 197, 46, 0.5) 111px, #ffffff 111px);
}

.slider-controls {
  position: absolute;
  top: 318px;
  right: 72px;

  display: flex;
}

.slider-toggle {
  position: relative;
  z-index: 10;

  width: 12px;
  height: 12px;
  margin: 10px 11px 10px 10px;
  padding: 0;

  font-size: 0;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle-active::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;

  width: 2px;
  height: 2px;

  border: 1px solid #000000;
  border-radius: 50%;
}

.slide {
  display: none;
  justify-content: space-between;
}

.slide:first-of-type {
  margin-bottom: 100px;
}

.slide:nth-of-type(2) {
  margin-bottom: 89px;
}

.slide:nth-of-type(3) {
  margin-bottom: 116px;
}

.slide-active {
  display: flex;
}

.slide-img,
.slider-promo {
  box-sizing: border-box;
  width: 500px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .slide-img {
    margin-right: auto;
  }
}

.slider-promo {
  width: 510px;
}

.slide:first-of-type .slide-img {
  padding-left: 90px;
}

.slide:nth-of-type(2) .slide-img {
  padding-top: 12px;
  padding-left: 116px;
}

.slide:nth-of-type(3) .slide-img {
  padding-top: 66px;
  padding-left: 31px;
}

.slider-promo {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.slider-promo::before {
  content: "";
  position: absolute;
  top: 38px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-promo::after {
  position: absolute;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  letter-spacing: 1.8px;
}

.slider-promo-num1::after {
  content: "01";
  top: -13px;
  right: -5px;
}

.slider-promo-num2::after {
  content: "02";
  top: -13px;
  right: -4px;
}

.slider-promo-num3::after {
  content: "03";
  top: -13px;
  right: -3px;
}

.slider-promo b {
  z-index: 10;

  margin-bottom: 19px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
  letter-spacing: 0.6px;
}

.slider-description {
  margin: 0;
  padding-bottom: 43px;

  letter-spacing: 0.01em;
}

.slider-table {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 50px;

  border-collapse: collapse;
  border-spacing: 0;
  letter-spacing: 0.1px;
}

.slider-table-head {
  box-sizing: border-box;
  width: 160px;
  padding: 0;
  padding-top: 7px;

  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
}

.slider-table-data {
  width: 160px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  text-align: left;
  color: #000000;
}

.slider-table-head:nth-child(2),
.slider-table-data:nth-child(2) {
  width: 140px;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 220px;
  min-height: 40px;
  padding: 8px 0 8px 2px;
  /*padding-left: 2px;*/

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.7px;

  background-image: -webkit-linear-gradient(#ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
  background-image:      -o-linear-gradient(#ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
  background-image:         linear-gradient(#ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
  background-image: none;
  outline: none;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #f0c52e;
  background-image: none;
  outline: none;
}

.category {
  width: 1160px;
  margin: 0 auto 81px;
  padding-right: 20px;
  padding-left: 20px;
}

.category-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.category-item {
  width: 160px;
}

.category-name {
  position: relative;

  display: block;
  padding-top: 191px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.2px;
}

.category-name::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  width: 160px;
  height: 160px;

  background-repeat: no-repeat;
}

.category-name::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.category-virtual::after {
  background-image: url(../img/popular-1.svg);
  background-position: 49% 50%;
}

.category-selfie::after {
  background-image: url(../img/popular-2.svg);
  background-position: 51% 98%;
}

.category-action::after {
  background-image: url(../img/popular-3.svg);
  background-position: 55% 53%;
}

.category-bracelet::after {
  background-image: url(../img/popular-4.svg);
  background-position: 53% 54%;
}

.category-watch::after {
  background-image: url(../img/popular-5.svg);
  background-position: 53% 54%;
}

.category-copter::after {
  background-image: url(../img/popular-6.svg);
  background-position: 47% 55%;
}

.category-name:hover::after,
.category-name:focus::after {
  background-color: rgba(240, 197, 46, 1);
}

.category-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-name:active::after {
  opacity: 0.3;
}

.category-name:active::before {
  background-color: rgba(240, 197, 46, 1);
}

.services {
  min-width: 1200px;
  margin-bottom: 95px;
  padding-bottom: 68px;

  background-image: -webkit-linear-gradient(#ffffff 100px, #e5e5e5 100px);
  background-image:      -o-linear-gradient(#ffffff 100px, #e5e5e5 100px);
  background-image:         linear-gradient(#ffffff 100px, #e5e5e5 100px);
}

.services .container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.services-controls {
  width: 277px;
  margin: 0;
  padding: 80px 0 48px;

  border-right: 7px solid #000000;
}

.services-toggle {
  display: block;
  width: 160px;
  min-height: 40px;
  margin: 0 0 24px;
  padding: 8px 0 8px 3px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.7px;

  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  background-image:      -o-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  background-image:         linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  border: none;
  cursor: pointer;
}

.services-toggle:hover,
.services-toggle:focus {
  background: #f0c52e;
  outline: none;
}

.services-toggle-active,
.services-toggle-active:hover,
.services-toggle-active:focus,
.services-toggle:active {
  width: 279px;
  padding-right: 119px;

  color: #f7e184;

  background: #000000;
}

.services-item {
  position: relative;

  display: none;
  width: 760px;
  margin-left: 117px;
}

.services-item-active {
  display: block;
}

.services-title {
  margin: 0;
  margin-top: 74px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 1px;
}

.services-description {
  width: 440px;
  margin-top: 31px;

  letter-spacing: 0.2px;
}

.services-item::after {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
}

.services-delivery::after {
  top: 85px;
  right: 66px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
}

.services-warranty::after {
  top: 62px;
  right: 45px;

  width: 171px;
  height: 194px;

  background-image: url("../img/warranty.svg");
}

.services-credit::after {
  top: 62px;
  right: 69px;

  width: 156px;
  height: 186px;

  background-image: url("../img/credit.svg");
}

.logotypes {
  width: 1160px;
  margin: 0 auto 90px;
  padding-right: 20px;
  padding-left: 20px;
}

.logotypes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.bg-logo-1 {
  background-image: url(../img/logo-1.png);
}

.bg-logo-2 {
  background-image: url(../img/logo-2.png);
}

.bg-logo-3 {
  background-image: url(../img/logo-3.png);
}

.bg-logo-4 {
  background-image: url(../img/logo-4.png);
}

.logotypes-item {
  background-repeat: no-repeat;
}

.logotypes-item {
  opacity: 0.2;
}

.logotypes-link {
  display: block;
  height: 100px;
}

.logotypes-link:hover,
.logotypes-link:focus,
.logotypes-link:active {
  opacity: 0;
}

.logotypes-item:hover,
.logotypes-item:focus,
.logotypes-item:active {
  opacity: 1;
}

.container-about {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  min-height: 560px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container-about section {
  width: 560px;
}

.about,
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-title {
  position: relative;

  margin: 54px 0 28px -2px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.5px;
}

.about-title::before {
  content: "";
  position: absolute;
  top: -52px;
  left: 2px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-description {
  margin-bottom: 15px;

  letter-spacing: 0.1px;
}

.about-description-delivery {
  margin-bottom: 50px;

  letter-spacing: -0.01em;
}

.about-description-office {
  margin-bottom: 39px;
  margin-left: -2px;
}

.about-link {
  min-width: 260px;
  margin-top: auto;
  padding-left: 3px;
}

.about-list {
  margin-bottom: 54px;
  padding-left: 36px;

  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.about-item {
  position: relative;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -39px;

  width: 18px;
  height: 18px;

  background-image: url("../img/delivery-item.svg");
  background-repeat: no-repeat;
}

.about-map {
  margin-bottom: 60px;
}

.main-footer {
  min-width: 1200px;
  margin-top: 82px;

  color: #ffffff;

  background-color: #464646;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 17px;
  padding-left: 20px;
}

.main-footer a {
  color: #ffffff;
}

.footer-logo-link {
  display: block;
  margin-top: 12px;
}

.footer-top {
  padding-top: 44px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;

  line-height: 36px;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-links ul {
  margin-top: 16px;
  padding-left: 0;
}

.footer-links .nav-link {
  padding-left: 40px;
}

.footer-login,
.footer-buy {
  display: flex;
  justify-content: space-between;
}

.footer-login,
.footer-buy,
.footer-menu,
.footer-social {
  list-style: none;
}

.footer-links .nav-link-compare {
  margin-left: 34px;
}

.footer-login .out {
  margin-left: 20px;

  opacity: 0.3;
}

.footer-login .login-icon::before {
  top: 12px;
  left: 1px;

  background-image: url("../img/user-yellow.svg");
}

.footer-links .nav-link-cart::before {
  background-image: url("../img/cart-yellow.svg");
}

.footer-links .nav-link-compare::before {
  background-image: url("../img/compare-yellow.svg");
}

.nav-link-footer:hover,
.nav-link-footer:focus {
  color: rgba(255, 255, 255, 1);
}

.nav-link-footer:hover::before,
.nav-link-footer:focus::before {
  opacity: 0.6;
}

.nav-link-footer:active {
  opacity: 0.3;
}

.footer-top,
.footer-center,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-center {
  margin-bottom: 45px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 430px;
  margin: 0;
  padding-top: 15px;
  padding-left: 2px;
}

.footer-menu a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-menu .nav-link:hover,
.footer-menu .nav-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu .nav-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-address {
  margin: 8px 0 0 -2px;

  letter-spacing: 0;
}

.footer-phone {
  margin-top: 8px;
  margin-left: 40px;

  text-align: right;
}

.footer-bottom {
  position: relative;

  padding-bottom: 53px;
  padding-left: 28px;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
}

.footer-social-icon {
  margin-right: 12px;
  margin-left: 11px;
}

.footer-social-link {
  display: block;
  width: 32px;
  height: 32px;

  font-size: 0;

  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-fb {
  background-image: url(../img/fb.svg);
}

.social-inst {
  background-image: url(../img/inst.svg);
}

.social-tw {
  background-image: url(../img/tw.svg);
}

.footer-social-link:hover,
.footer-social-link:focus {
  opacity: 0.6;
}

.footer-social-link:active {
  opacity: 0.1;
}

.nav-link-academy {
  width: 27px;
  height: 35px;

  font-size: 0;

  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
}

.nav-link-academy:hover,
.nav-link-academy:focus {
  opacity: 0.6;
}

.nav-link-academy:active {
  opacity: 0.3;
}


/*  Modal window  */

@keyframes bounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  40% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  70% {
    transform: translate(-50%, -50%) scale(0.8);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-50%, -50%) rotate(2deg);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-50%, -50%) rotate(-2deg);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;

  box-sizing: border-box;
  width: 960px;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.map-window {
  height: 559px;
}

.map-window iframe {
  position: relative;
  z-index: 20;

  border: none;
}

.yandexmap {
  width: 960px;
  height: 559px;
}

.map-window img {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
}

.modal-show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.write-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 100px;
}

.write-form label {
  display: block;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
}

.write-form * {
  flex-shrink: 0;
}

.modal-input {
  box-sizing: border-box;
  width: 360px;
  margin-bottom: 30px;
  padding: 17px 20px 17px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.input-area {
  width: 760px;
  height: 160px;
}

.modal-input:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.modal-input:focus {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 3px solid #f0c52e;
}

.modal-input:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.modal-input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-input::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.button-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 20;

  width: 55px;
  height: 55px;
  padding: 0;

  font-size: 0;
  line-height: 0;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.button-close:hover,
.button-close:focus {
  opacity: 1;
}

.button-close:active {
  opacity: 0.3;
}


/*   Inner page   */

.inner-page ul {
  padding-left: 0;
}

.inner-header {
  margin-bottom: 35px;
}

.head-container {
  width: 1160px;
  margin: 0 auto 44px;
  padding-right: 20px;
  padding-left: 20px;
}

.logo-link {
  display: block;
  width: 164px;
}

.logo-link:hover,
.logo-link:focus {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.inner-page-title {
  margin: 0;
  margin-bottom: 21px;
  padding-left: 60px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.5px;
}

.inner-page .breadcrumbs {
  display: flex;
  justify-content: flex-start;
  padding-left: 60px;

  list-style: none;
}

.breadcrumbs li {
  padding-right: 32px;
}

.breadcrumbs a {
  position: relative;

  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs a,
.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus,
.breadcrumbs-current a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:after {
  content: url("../img/nav-arrow.svg");
  position: absolute;
  top: -2px;
  right: -17px;

  font-size: 14px;
  line-height: 24px;
}

.bg-inner-container {
  min-width: 1200px;

  background-image: -webkit-linear-gradient(left, #eeeeee 25%, #ffffff 25%);
  background-image:      -o-linear-gradient(left, #eeeeee 25%, #ffffff 25%);
  background-image:         linear-gradient(to right, #eeeeee 25%, #ffffff 25%);
}

.inner-container {
  width: 100%;

  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.08) 70px, transparent 70px);
  background-image:      -o-linear-gradient(rgba(0, 0, 0, 0.08) 70px, transparent 70px);
  background-image:         linear-gradient(rgba(0, 0, 0, 0.08) 70px, transparent 70px);
}

.inner-content {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.filters {
  width: 330px;
  min-height: 100%;

  background-color: #eeeeee;
}

.filter {
  width: 200px;
  padding: 81px 69px 40px 60px;
}

.filter-price,
.filter-color,
.filter-bluetooth {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;
}

.filter-price::before,
.filter-color::before,
.filter-bluetooth::before {
  content: "";
  position: absolute;
  top: -12px;
  right: 0;

  width: 200px;
  height: 2px;

  background-color: #000000;
}

.price-controls {
  position: relative;

  margin-top: 35px;
  margin-bottom: 9px;
}

.price-scale {
  height: 2px;

  background-color: #dbdbdb;
}

.price-bar {
  width: 55%;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;

  margin-left: -6px;
}

.range-toggle-max {
  left: calc(55% - 3px);
}

.range-toggle:hover,
.range-toggle:active {
  background-color: #1c4f80;
}

.filter-price .price-label {
  position: relative;

  display: inline-block;
  width: 90px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.price-input {
  position: relative;

  font-size: 0;
}

.input-range {
  width: 60px;
  margin: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}

.filter-price {
  margin-bottom: 37px;
}

.filter-color {
  margin-bottom: 28px;
}

.filter-bluetooth {
  margin-bottom: 16px;
}

.filters h2,
.catalog h3 {
  min-height: 70px;
  margin: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 70px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.filters h2 {
  padding-left: 61px;

  background-color: #dbdbdb;
}

.filter legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.2px;
}

.filter ul,
.catalog ul {
  list-style: none;
}

.filter label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0.1px;

  cursor: pointer;
}

.filter-option label {
  padding-left: 39px;
}

.filter-color-list {
  margin-top: 18px;
}

.filter-bluetooth-list {
  margin-top: 18px;
}

.checkbox-label,
.radio-label {
  position: relative;
}

.checkbox-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-checkbox:checked + .checkbox-label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:hover + .checkbox-label::before,
.filter-checkbox:focus + .checkbox-label::before {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.6;
}

.filter-checkbox:checked:hover + .checkbox-label::before,
.filter-checkbox:checked:focus + .checkbox-label::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.6;
}

.filter-checkbox:checked:active + .checkbox-label::before,
.filter-checkbox:active + .checkbox-label::before {
  opacity: 1;
}

.filter-checkbox:disabled + .checkbox-label,
.filter-checkbox:disabled:hover + .checkbox-label,
.filter-checkbox:disabled:focus + .checkbox-label,
.filter-checkbox:disabled:active + .checkbox-label,
.filter-checkbox:disabled + .checkbox-label::before,
.filter-checkbox:disabled:hover + .checkbox-label::before,
.filter-checkbox:disabled:focus + .checkbox-label::before,
.filter-checkbox:disabled:active + .checkbox-label::before {
  cursor: default;
  opacity: 0.25;
}

.radio-label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-radio:checked + .radio-label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-radio:hover + .radio-label::before,
.filter-radio:focus + .radio-label::before {
  background-image: url("../img/radio-off.svg");
  opacity: 0.6;
}

.filter-radio:checked:hover + .radio-label::before,
.filter-radio:checked:focus + .radio-label::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.6;
}

.filter-radio:checked:active + .radio-label::before,
.filter-radio:active + .radio-label::before {
  opacity: 1;
}

.filter-radio:disabled + .radio-label,
.filter-radio:disabled:hover + .radio-label,
.filter-radio:disabled:focus + .radio-label,
.filter-radio:disabled:active + .radio-label,
.filter-radio:disabled + .radio-label::before,
.filter-radio:disabled:hover + .radio-label::before,
.filter-radio:disabled:focus + .radio-label::before,
.filter-radio:disabled:active + .radio-label::before {
  cursor: default;
  opacity: 0.25;
}

.filter-button {
  width: 200px;
  padding: 0;

  background-image: -webkit-linear-gradient(#eeeeee 40%, #f0c52e 40%, #f0c52e 60%, #eeeeee 60%);
  background-image:      -o-linear-gradient(#eeeeee 40%, #f0c52e 40%, #f0c52e 60%, #eeeeee 60%);
  background-image:         linear-gradient(#eeeeee 40%, #f0c52e 40%, #f0c52e 60%, #eeeeee 60%);
}

.catalog {
  width: 760px;
  padding-left: 71px;
}

.catalog-sort,
.catalog-sort-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-sort {
  margin-bottom: 50px;
}

.catalog-sort-list {
  width: 560px;
}

.catalog-sort-list .sort-name {
  margin-right: 30px;
  padding-bottom: 4px;
}

.catalog-sort-list .sort-direction {
  margin-left: 12px;
}

.catalog-sort-list .sort-to-up {
  margin-left: auto;
}


.sort-name a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-name a:hover,
.sort-name a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-direction a {
  color: rgba(0, 0, 0, 0.2);
}

.sort-direction a:hover,
.sort-direction a:focus {
  color: rgba(0, 0, 0, 0.4);
}

.sort-active a,
.sort-name a:active,
.sort-direction a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.catalog-list li {
  margin-top: 20px;
  margin-bottom: 27px;
}

.catalog-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.2px;
}

.catalog-item-img {
  position: relative;

  height: 380px;
  margin-bottom: 31px;
}

.new-product .catalog-item-img::before {
  content: "new";
  position: absolute;
  top: 28px;
  right: 26px;

  box-sizing: border-box;
  width: 60px;
  height: 60px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.2;
}

.catalog-list .catalog-button {
  position: absolute;
  top: 171px;
  left: 81px;

  display: none;
  width: 200px;
  padding: 0;

  line-height: 40px;
  letter-spacing: 3.7px;

  background-image: -webkit-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  background-image:      -o-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
  background-image:         linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.catalog-list .catalog-compare {
  position: absolute;
  top: 225px;
  left: 110px;

  display: none;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1px;

  opacity: 0.5;
}

.catalog-list .catalog-compare:hover,
.catalog-list .catalog-compare:focus {
  opacity: 1;
}

.catalog-list .catalog-compare:active {
  opacity: 0.2;
}

.catalog-item-img:hover::after,
.catalog-item-img:focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-img:hover::before,
.catalog-item-img:focus::before {
  opacity: 0.5;
}

.catalog-item-img:hover .catalog-button,
.catalog-item-img:focus .catalog-button,
.catalog-item-img:hover .catalog-compare,
.catalog-item-img:focus .catalog-compare {
  z-index: 10;

  display: block;
}

.catalog-item-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name-product {
  width: 260px;
  margin: 0;
}

.product-price {
  margin: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  margin-top: 9px;
  margin-bottom: 76px;

  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 70px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.pagination-direct {
  padding: 0 30px;
}

.pagination-back {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
  padding: 0 25px 0 35px;
}

.pagination-item {
  margin: 0 15px;
}

.pagination-item-first {
  margin-left: 30px;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:hover a,
.pagination-item:focus a {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item:active a {
  color: rgba(0, 0, 0, 1);
}

.pagintaion-item-current a,
.pagintaion-item-current:hover a,
.pagintaion-item-current:focus a,
.pagintaion-item-current:active a {
  color: rgba(0, 0, 0, 1);
}

.pagination-direct:hover,
.pagination-direct:focus,
.pagination-direct:active {
  background-color: rgba(0, 0, 0, 0.16);
}

.pagination-direct:active a {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page-footer {
  margin-top: 0;
}

.inner-footer-logo {
  display: block;
  margin-top: 3px;
}
